.blackstrip {
    background-color: black;
}

.UserProfile {
    vertical-align: top;
    padding-left: 5px;
    word-break: break-word;
}

.organize {
    padding-top: 3px;
}

.BorderStrip {
    border-collapse: collapse;
    border-color: black;
    color: black;
	border: 1px black solid;
}

.Profile {
    vertical-align: top;
    word-break: break-word;
}

.banner-alert {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border: black 1px solid;
    text-align: center;
    margin-top: 5px;
}

.Profile a {
	text-decoration: none;
	color: black;
}

.UserProfile a {
	vertical-align: middle;
	text-decoration: none;
	color: black;
}

td.blackstrip {
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
}

.blackstrip a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    padding: 3px;
}

.blackstrip2 {
    background-color: black;
}

.blackstrip3 {
    background-color: black;
}

td.blackstrip4 {
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
}

td.blackstrip3 {
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    padding-left: 3px;
}


img.pfp {
    border: black solid 1px;
	width: 64px;
	height: 64px;
}

.banner-image {
    background-image: url(/images/banner.gif);
    width: 440px;
    height: 68px;
}
img.banner {
	width: 440px;
	height: 68px;
}

td.blackstrip2 {
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    text-align: right;
    padding-right: 3px;
}


.blackstrip2 a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-family: Verdana;
    font-weight: bold;
    padding: 3px;
}

.hmcontainer {
    background-color: white;
    border: black solid 1px;
    margin-top: 5px;
}

.loginText {
    background-color: white;
    border: black solid 1px;
    height: 16px;
    width: 150px;
    font-family: Verdana;
    font-size: 12px;
}
audio {
  background: #f1f3f4;
  border: solid 1px black;
}
video {
  border: solid 1px black;
}
.updateText {
    background-color: white;
    border: black solid 1px;
    height: 16px;
    width: 150px;
    font-family: Verdana;
    font-size: 12px;
}

.loginSubmit, .updateSubmit, button {
    border: black solid 1px;
    font-size: 11px;
    height: 23px;
    font-family: Verdana;
    font-weight: bold;
    background-color: #E9E9ED;
}

.loginSubmit:hover, .updateSubmit:hover, button:hover {
	background-color: #D9D9DB;
	border: #4F4F4F solid 1px;
}

td.hmcontainer2 {
    font-size: 11px;
    font-family: Verdana;
    color: black;
}

td.hmcontainer3 {
    font-size: 11px;
    font-family: Verdana;
    color: black;
}

.footer2 {
    font-size: 10px;
    font-family: Verdana;
    color: black;
    padding: 5px;
}

body {
	background-color: #9AB7CE;
	font-family: Verdana, Helvetica, Arial;
	padding: 0;
	width: 440px;
	margin: auto;
	margin-top: 5px;
}

hr {
    height: 1px;
    border: 0;
    background-color: #000;
}

.banner {
	border-spacing: 0;
	border-collapse: collapse;
}

.footer {
    border: none;
    height: 1px;
    background-color: black;
}
.container {
  display: grid;
  align-content: center;
  grid-template-columns: 0.1fr 0.1fr;
  gap: 8px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "media-player about"
    "contact friends";
  width: 440px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.friendicon {
    background: url(/images/icons/silk/user_add.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.unfriendicon {
    background: url(/images/icons/silk/user_delete.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.blockicon {
    background: url(/images/icons/silk/cancel.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
	vertical-align: middle;
}

.pendingicon {
    background: url(/images/icons/silk/user_pending.png) no-repeat;
	width: 16px;
    height: 16px;
    display: inline-block;
}

.accepticon {
    background: url(/images/icons/silk/user_accept.png) no-repeat;
	width: 16px;
    height: 16px;
    display: inline-block;
}

.reporticon {
    background: url(/images/icons/silk/report_user.png) no-repeat;
    width: 16px;
    height: 15px;
    display: inline-block;
	vertical-align: middle;
}

.cogicon {
    background: url(/images/icons/silk/cog.png) no-repeat;
    width: 16px;
    height: 15px;
    display: inline-block;
	vertical-align: middle;
}

.messageicon {
    background: url(/images/icons/silk/email.png) no-repeat;
    width: 16px;
    height: 15px;
    display: inline-block;
}

.binicon {
    background: url(/images/icons/silk/bin.png) no-repeat;
    width: 16px;
    height: 15px;
    display: inline-block;
	vertical-align: middle;
}

.caret {
    background: url(/images/icons/silk/caret.png) no-repeat;
	background-position: center center;
    width: 8px;
    height: 16px;
    display: inline-block;
}

.about { grid-area: about; }

.media-player { grid-area: media-player; }

.contact { grid-area: contact; }

.friends { grid-area: friends; }

#profile {
	padding: 0px;
	width: 438px;
	height: 127px;
}
#banner {
	object-fit: cover;
	width: 438px;
	height: 78px;
	border-bottom: 1px solid black;
	position: static;
}
#profile-info {
	padding: 6px;
}
#profile-picture {
	border: 1px solid black;
	width: 64px;
	height: 64px;
	position: absolute;
	bottom: -32px;
        background-color: #fff;
}
#pfp-container {
	width: 64px;
	position: relative;
}
#info-container {
  position: relative;
  left: 71px;
  top: -2px;
  max-width: 357px;
}
#info-container .btn-group {
	float: right;
}

.white-box {
	margin-top: 5px;
	border: 1px Solid black;
	background-color: white;
	padding: 3px;
	color: black;
}

#main {
	margin-left: auto;
	margin-right: auto;
	width: 440px;
}

#info-container a {
	text-decoration: none;
	color: black;
}

#indent {
	white-space: pre-wrap;
	padding-left: 0px;
}

.dropdown {
	display: none;
	position: absolute;
	right: 0;
	margin-top: 3px;
	background-color: #fff;
	border: 1px solid black;
	border-bottom: none;
	min-width: 160px;
	font-size: 10px;
}

.dropdown li {
	padding: 3px;
	border-bottom: 1px solid black;
}

.dropdown li:hover {
	background-color: #D9D9DB;
}

.dropdown span {
	vertical-align: middle;
}

.dropdown ul {
	margin: 0;
	padding: 0;
	list-style: inside none;
}

.btn-group .dropdown-toggle {
	margin-left: -1px;
}

.dropdown.show {
	display: block
}

.dropdown-btn {
	display: inline-block;
	position: relative;
}